<!DOCTYPE html>
<html lang="en">
<head>
    <title>House Price Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/stylespred.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<style>
    label{
        color:black;
        font-weight: 700;
    }

    .titlemain{
        background-color:#418a9c;
        padding: 3%;
        
    }
</style>
<body style="background-color: #CDF0EA">
    <div class="titlemain">
        <h1> Customer Churn Predictor </h1>
    </div>


<div style="background-color: white;"class="container">
  <form action="/send", name="send_data", method="post">
    <table "background-color: black">

<tr>
    <td  class="col-label">  <label>Latitude</label></td>
       <td  class="col-input">  <input type="text" name="Latitude" placeholder="Latitude"></td></tr>

<tr>
    <td  class="col-label">  <label>Longitude</label></td>
       <td  class="col-input">  <input type="text" name="Longitude" placeholder="Longitude"></td></tr>

<tr>
    <td  class="col-label">  <label>Parcel No.</label></td>
       <td  class="col-input">  <input type="text" name="Parcelno" placeholder="Parcel No."></td></tr>

<tr>
    <td  class="col-label">  <label>Land Square Foot</label></td>
        <td  class="col-input">  <input type="text" name="Landsqfoot" placeholder="Land Square Foot"></td></tr>

<tr>
    <td  class="col-label">  <label>Floor Area</label></td>
        <td  class="col-input">  <input type="text" name="Lvgarea" placeholder="Floor Area"></td></tr>

<tr>
    <td  class="col-label">  <label>Value of Special Features</label></td>
        <td  class="col-input">  <input type="text" name="SpecFeat" placeholder="Value of Special Features"></td></tr>   
        
<tr>
    <td  class="col-label">  <label>Distance to nearest Railway</label></td>
        <td  class="col-input">  <input type="text" name="Rail_dist" placeholder="Distance to nearest Railway"></td></tr>       

<tr>
    <td  class="col-label">  <label>Distance to nearest Ocean</label></td>
       <td  class="col-input">  <input type="text" name="Ocean_dist" placeholder="Distance to nearest Ocean"></td></tr>

<tr>
    <td  class="col-label">  <label>Distance to central business district</label></td>
        <td  class="col-input">  <input type="text" name="CNTR_dist" placeholder="Distance to central business district"></td></tr>   
    
<tr>
    <td  class="col-label">  <label>Distance to nearest subcenter</label></td>
        <td  class="col-input">  <input type="text" name="Subcntr_di" placeholder="Distance to nearest subcenter"></td></tr>  
     
<tr>
    <td  class="col-label">  <label>Distance to nearest highway</label></td>
        <td  class="col-input">  <input type="text" name="HWY_dist" placeholder="Distance to nearest highway"></td></tr>         
                 
<tr>
    <td  class="col-label">  <label>Age of the structure</label></td>
        <td  class="col-input">  <input type="text" name="Age" placeholder="Age of the structure"></td></tr> 

<tr>
    <td  class="col-label">  <label>Sale month</label></td>
        <td  class="col-input">  <input type="text" name="Monthsold" placeholder="Sale month (1 = jan)"></td></tr> 

<tr>
    <td  class="col-label">  <label>Quality of Structure</label></td>
        <td  class="col-input">  <input type="text" name="Structure" placeholder="Quality of Structure"></td></tr> 

    <tr class="form_wrapper">
     <td colspan='2'> <input type="submit" value="Predict"/></td>

     
    
    </tr>
</table>
  </form>


</div>
</body>
</html>
