<!DOCTYPE html>
<html lang="en">
<head>
    <title>House Price Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='CSS/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<style>
  body{
    font-family: 'Montserrat', sans-serif;
  }
  .title{
    font-family: 'Arial';
    font-size: x-large;
    letter-spacing: 5px;
  }
</style>
  <body>
      <div class="title" style="margin-top: 0%;">
        <h1>Predicting House Prices</h1>
      </div>

      <div class="para">
        <h1 style="text-align: center;">House Price Predictor</h1>

        <img src="/static/Images/house.jpg" />

        <div style="display: flexbox; margin: 0 auto 0 auto;text-align:center">
          <a class='myButton' href={{ url_for('homepage') }}><b>Predict</b></a>
        </div>

        <br><br>
        
        Predicting house prices is one of the biggest problems in the Real Estate industry. Using the 'Miami 
        House Prediction' dataset we shall go over some of the main techniques which I have used to solve this problem.

        <br><br>
        <b style="font-size: larger;">My Approach towards this problem</b><br><br>
       The main features used while solving this problem of predicting the prices of houses are Latitude, Longitude,
        Parcel No., Land Square Foot, Floor Area, Value of Special Features, Distance to nearest Railway, Distance to 
        nearest Ocean, Distance to central business district, Distance to nearest subcenter, Distance to nearest highway,
        Age of the structure, Sale month, Quality of Structure.
        <br><br>
        I have tried various models to predict the price of houses like Linear Regession, Logistic Regression, Decision 
        Tree Regreesion, Random Forest, XGBoost and Neural Network. I got best results from Xgboost i.e. a score of 93%.
        While preprocessing the dataset, I observed that the distribution of data points of prices were left skewed. So, 
        I took log of all the prices and it resulted in normal distribution. This also helped in decreasing the MSE.
        <br><br>
        <b>So, if you want to try to predict the price of your house click on Predict</b>
    </div>
  </body>

</html>
